<!-- -*- mode: XML -*- -->

<!-- Start the driver for a specific IEEE1394 digital camera.

     this is a test script: NOT FOR GENERAL USE

     arg: camera = base file name of camera YAML parameters
                   (default: unibrain)
-->

<launch>

  <arg name="camera" default="cm3_right" />
  <node pkg="camera1394" type="camera1394_node" name="camera1394_node" >
    <rosparam
       file="$(find camera1394)/tests/$(arg camera).yaml" /> 
  </node>
</launch>
